---
import AdminLayout from '@layouts/AdminLayout.astro';
import PlanningTable from '@admin/PlanningTable.astro';
---

<AdminLayout title="Gestion du planning">
  <h1 class="text-2xl font-bold mb-4">Gestion du planning</h1>
  <PlanningTable />
</AdminLayout>
