---
import AdminLayout from '@layouts/AdminLayout.astro';
import AdminUtilisateurs from '@components/admin/AdminUtilisateurs.jsx';
---

<AdminLayout>
  <section class="container mx-auto py-12">
    <AdminUtilisateurs client:visible/>
  </section>
</AdminLayout>
